---
const header = Astro.props.header;
const text = Astro.props.text;
const { header, text } = Astro.props;
const { name, image, location, from, to } = Astro.props;
---

<article class="card">
  <h2>{name}</h2>
  <img src={image} alt="" />
  <p>{location}</p>
  <p>{from}</p>
  <p>{to}</p>
  <slot />
</article>

<div class="card-container">
  <div class="card">
    <div class="card-img-container">
      <img src="png/karatekids.png" alt="Card Image" width="400" height="320" />
      <h5 class="card-title">Headline</h5>
    </div>
  </div>
</div>

<style>
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 250px));
    gap: 20px;
  }

  .card {
    width: 480px;
    margin: 20px;
  }

  .card-img-container {
    position: relative;
    overflow: hidden;
  }

  .card-img-container img {
    display: block;
    width: 100%;
  }

  .card-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: 0000;
    background-color: #fef5f4;
    padding: 10px 10px 10px 0px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-text {
    font-size: 18px;
    margin: 0 0;
  }
</style>
